@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

:root {
  --color-primary: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  background-color: var(--color-primary);
  position: relative;
  padding-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 16px;
}

.card {
  padding: 1.35rem;
  border: 1px solid var(--color-black);
  border-radius: 1.5rem;
  background-color: var(--color-white);
  max-width: 320px;
  box-shadow: 8px 8px var(--color-black);
}

.card:hover {
  box-shadow: 10px 10px var(--color-black);
}

.card-img {
  background: url(assets/images/illustration-article.svg);
  background-position: 50% 50%;
  background-size: cover;
  width: auto;
  height: 200px;
  border-radius: 0.875rem;
  margin-bottom: 1.5rem;
}

.card-tag {
  margin-bottom: 0.875rem;
}

.tag {
  padding: 0.4em 0.875em;
  font-size: 13px;
  font-weight: 800;
  background-color: var(--color-primary);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.card-date {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.65rem;
}

.card-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0.65rem;
}

.card-title:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.card-text {
  font-size: 14px;
  margin-bottom: 1.2rem;
}

.card-author {
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 0.75rem;
}

.card-author > span:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.card-avatar {
  width: 32px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 380px;
  }
  .card-img {
    height: 200px;
    background-position: initial;
  }
  .tag {
    font-size: 14px;
  }
  .card-date {
    font-size: 14px;
  }
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 16px;
  }
}
